<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Случайная цитата</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        .quote {
            font-size: 1.5em;
            color: #333;
        }

        .author {
            margin-top: 20px;
            font-size: 1.2em;
            color: #666;
        }
    </style>
</head>
<body>
<div class="quote">{{ quote }}</div>
<div class="author">— {{ author }}</div>
</body>
</html>
